<html>
<head>

<link href="{{asset('/bundles/networkslabsgallery/css/base.css')}}" media="screen" rel="stylesheet" type="text/css" />
<link href="{{asset('/bundles/networkslabscsvreader/css/base.css')}}" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css" title="currentStyle">
			@import "/bundles/networkslabscsvreader/datatable/media/css/demo_page.css";
			@import "/bundles/networkslabscsvreader/datatable/media/css/demo_table.css";
		</style>


</head>
<body>
<div>
<table id="grid">
<thead>
    <tr>
        {%for header in headers%}
            <th>{{header}}</th>
        {%endfor%}
        <th>état</th>
    </tr>

</thead>
<tbody>

</tbody>
</table>
</div>
{%block javascripts%}
		<script type="text/javascript" language="javascript" src="/bundles/networkslabscsvreader/datatable/media/js/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="/bundles/networkslabscsvreader/datatable/media/js/jquery.dataTables.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#grid').dataTable({
					"bProcessing": true,
					"sAjaxSource": "{{url('NetworksLabsCsvReaderBundle_ajax', {'import_key':key})}}",
		            "aoColumns": [
                    {%for header in headers%}
                        { "mDataProd": "{{header}}"},
                    {%endfor%}
                        { "mDataProd": "état"},
		            ]
				} );
			} );
		</script>
{%endblock%}
</body>
</html>
