<html>
<head>
<link href="{{asset('/bundles/networkslabsgallery/css/base.css')}}" media="screen" rel="stylesheet" type="text/css" />
<link href="{{asset('/bundles/networkslabscsvreader/css/base.css')}}" media="screen" rel="stylesheet" type="text/css" />
		<style type="text/css" title="currentStyle">
			@import "/bundles/networkslabscsvreader/datatable/media/css/demo_page.css";
			@import "/bundles/networkslabscsvreader/datatable/media/css/demo_table.css";
		</style>
</head>
<body>
<div id="imports">
<h2>Listing des imports</h2>
<ul>
    {%for key, import in imports%}
        <li> <a href="{{url('NetworksLabsCsvReaderBundle_import',{'import_key':key})}}">{{key}}</a></li><br/>
    {%endfor%}
</ul>
</div>
<div>
<form action="{{path('NetworksLabsCsvReaderBundle_verif')}}" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }}
    <input type="submit" id="submit" value="Charger" name="submit" />
</form>
</div>
{%block javascripts%}
		<script type="text/javascript" language="javascript" src="/bundles/networkslabscsvreader/datatable/media/js/jquery.js"></script>
		<script type="text/javascript" language="javascript" src="/bundles/networkslabscsvreader/datatable/media/js/jquery.dataTables.js"></script>

{%endblock%}
</body>
</html>
